# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Faster_RCNN\FasterRCNNResnet50RGB64_1024_128_2o5Dis30A5_NIR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
